@model List<KancelarWeb.Dochazka>
@{
    ViewData["Title"] = "Docházka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr/>
<table class="table table-borderless bg-light">
    <thead>
        <tr>
            <th scope="col">Id</th>
            @*<th scope="col">Zaměstnanec</th>*@
            <th scope="col">Datum</th>
            <th scope="col">Čas</th>
            <th scope="col">Druh</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(d => d.Id))
        {
        <tr>
            <th scope="row">@item.Id</th>
            @*<td>@item.UzivatelCeleJmeno</td>*@
            <td>@item.Datum.Date.ToShortDateString() </td>
            <td>@item.Datum.Date.ToShortDateString() </td>
            <td><span class="class=@(item.Prichod ? "btn btn-sm bt-disabled btn-success disabled" : "btn btn-sm bt-disabled btn-warning disabled")">@(item.Prichod ? "Příchod" : "Odchod")</span> </td>
            <td><a class="btn btn-xs btn-danger" href='@Url.Action("Remove", "Dochazka", new {@id = item.Id })'> odebrat </a></td>
        </tr>

        }
    </tbody>
</table>

<hr />
