@model KancelarWeb.Models.UdalostModel
@{
ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Nová událost</h4>

@using (Html.BeginForm("Add", "Udalost", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="View">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.Nazev)
                    <label asp-for="Url" class="control-label"></label>
                    @Html.TextBoxFor(Model => Model.Nazev, new { @class = "form-control" })
                    <span asp-validation-for="Nazev" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.DatumOd)
                    @Html.TextBoxFor(Model => Model.DatumOd, new { @class = "form-control datepicker", @name = "updatedDate" })
                  
                    <span asp-validation-for="DatumOd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.DatumDo)
                    @Html.TextBoxFor(Model => Model.DatumDo, new { @class = "form-control datepicker", @name = "updatedDate" })
                    <span asp-validation-for="DatumDo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
  
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>


