@model IEnumerable<KancelarWeb.ViewModels.UdalostViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <a class="btn btn-primary dropright" href='@Url.Action("Edit", "Udalost")'> Přidat</a>
<hr />
    <table class="table table-borderless bg-light">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Název</th>
                <th scope="col">Od</th>
                <th scope="col">Do</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Nazev</td>
                    <td>@item.DatumOd.ToShortDateString()</td>
                    <td>@item.DatumDo.ToShortDateString()</td>
                    <td><a class="btn btn-xs btn-warning" href='@Url.Action("Remove", "Udalost", new {@id = item.Id })'> odebrat </a></td>
                </tr>

            }
        </tbody>
    </table>

<hr />

