@page
@model KancelarWeb.Index2Model

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UzivatelModel[0].TitulPred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzivatelModel[0].Jmeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzivatelModel[0].Prijmeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzivatelModel[0].TitulZa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzivatelModel[0].Pohlavi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzivatelModel[0].DatumNarozeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzivatelModel[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzivatelModel[0].Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzivatelModel[0].Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UzivatelModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitulPred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jmeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijmeni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitulZa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pohlavi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumNarozeni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
