@model IEnumerable<KancelarWeb.ViewModels.UzivatelModel>

@{
    ViewData["Title"] = "Uživatel - Přehled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uživatel - Přehled</h2>

<p>
    <a asp-action="Edit" asp-controller="Uzivatel" class="btn btn-outline-primary">Přidat uživatele</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitulPred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jmeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijmeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitulZa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pohlavi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumNarozeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitulPred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jmeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijmeni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitulZa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pohlavi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumNarozeni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Uzivatel" asp-route-id="@item.Id" class="btn btn-xs btn-primary">Upravit</a>
                <a asp-action="Detail" asp-controller="Uzivatel" asp-route-id="@item.Id" class="btn btn-xs btn-info">Detail</a>
                <a asp-action="Remove" asp-controller="Uzivatel" asp-route-id="@item.Id" class="btn btn-xs btn-danger">Odstranit</a>
          
            </td>
        </tr>
}
    </tbody>
</table>
