@model List<KancelarWeb.Kalendar>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading"><h5>@item.Rok - @item.UzivatelCeleJmeno</h5></div>
        <div class="panel-body">
            <table style="border: 1px solid lightgray;">
                @foreach (var mesic in item.KalendarBody.Months)
                {
                    <tr style="border-bottom:1px solid lightgray">
                        <td rowspan="2">@mesic.MonthName</td>
                        @for (int i = 1; i < mesic.Days.First().TypId; i++)
                        {
                            <td class="bg-light">&nbsp;</td>
                        }
                        @foreach (var den in mesic.Days)
                        {
                            <td style="width:35px; border: 1px solid lightGray;" class="@(den.IsSvatek ? "bg-danger" : (den.TypId == 6 | den.TypId == 7)?"bg-info": ""  )">@den.Id</td>
                        }
                        @for (int i = 1; i <= (38 - (mesic.Days.Count() + (mesic.Days.First().TypId))); i++)
                        {
                            <td class="bg-light">&nbsp;</td>
                        }
                    </tr>
                    <tr style="border-bottom:1px solid lightgray">
                        @for (int i = 1; i < mesic.Days.First().TypId; i++)
                        {
                            <td class="bg-light">&nbsp;</td>
                        }
                        @foreach (var den in mesic.Days)
                        {
                            <td style="width:35px; border: 1px solid lightGray;" class="@(den.IsSvatek ? "bg-danger" : (den.TypId == 6 | den.TypId == 7)?"bg-info": ""  )">
                                @if (den.Polozky.Any())
                                {
                                    <a class="btn-info">@den.Polozky.Count()</a>
                                }
                            </td>
                        }
                        @for (int i = 1; i <= (38 - (mesic.Days.Count() + (mesic.Days.First().TypId))); i++)
                        {
                            <td class="bg-light">&nbsp;</td>
                        }
                    </tr>


                }
            </table>

        </div>
    </div>
}

