@model IEnumerable<KancelarWeb.ViewModels.Aktivita>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Události - přehled</h5>

<p>
    <a asp-action="Edit" asp-controller="Aktivita" class="btn btn-success">Nová událost</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UzivatelCeleJmeno)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.Nazev)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DatumOd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumDo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Popis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>           
            <td>
               @Html.DisplayFor(modelItem => item.UzivatelCeleJmeno)       
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AktivitaTypId)
            </td>
            <td class="pan">
              <span class="btn btn-dark disabled"> @Html.DisplayFor(modelItem => item.Nazev)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumDo)
            </td>           
            <td>
                <a asp-action="Edit" asp-controller="Aktivita" asp-route-id="@item.AktivitaId" class="btn btn-xs btn-outline-primary" title="Upravit">upravit</a>
                <a asp-action="Detail" asp-controller="Aktivita" asp-route-id="@item.AktivitaId" class="btn btn-xs btn-outline-info" title="Detail">detail</a>
                <a asp-action="Remove" asp-controller="Aktivita" asp-route-id="@item.AktivitaId" class="btn btn-xs btn-outline-danger" title="Odstranit">odstranit</a>
                              
            </td>
        </tr>
}
    </tbody>
</table>
